
    <ion-header-bar class="bar-positive">
      <h1 class="title">Income Details</h1>
    </ion-header-bar>

    <ion-content>
      <div class="list">
        <form ng-submit="tax.calculateTax()" name="taxForm">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <select ng-model="tax.AY" ng-options="year for year in tax.years"></select>
            </label>
			</div>
			<div class="item item-input-inset">
			<label class="item-input-wrapper">
              <input type="text" placeholder="Your Taxable Income " ng-model="tax.taxableIncome" required> 
            </label>
			</div>
			<div class="item item-input-inset">
			<label class="item-input-wrapper">
              <input type="radio" ng-model="tax.gender" value="male" /> Male
			  <input type="radio" ng-model="tax.gender" value="female"/> Female
            </label>
			</div>
			<div class="item item-input-inset">
			<label class="item-input-wrapper">
              <input type="number" ng-model="tax.age"> 
            </label>
			</div>
          
		  <button class="button button-small" ng-disabled="taxForm.$invalid">
              Calculate Tax
            </button>
        </form>
		<pre>{{tax | json}}</pre>
      </div>
    </ion-content>